
.p-Home.TextBox8 {
    background: -webkit-linear-gradient(rgba(223, 4, 4, 0.856), rgb(157, 230, 73), rgba(100, 91, 5, 0.699));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.p-Home.TextBox11{
    background: -webkit-linear-gradient(rgba(223, 4, 4, 0.856), rgb(167, 235, 57), rgba(245, 227, 63, 0.699));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.p-Home.TextBox18 {
    background: -webkit-linear-gradient(rgba(223, 4, 4, 0.856), rgb(167, 235, 57), rgba(245, 227, 63, 0.699));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.p-Home.TextBox47{
    background: -webkit-linear-gradient(rgba(223, 4, 4, 0.856), rgb(167, 235, 57), rgba(245, 227, 63, 0.699));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.p-Home.TextBox51{
    background: -webkit-linear-gradient(rgba(223, 4, 4, 0.856), rgb(167, 235, 57), rgba(245, 227, 63, 0.699));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.p-Home.TextBox96{
    background: -webkit-linear-gradient(rgba(223, 4, 4, 0.856), rgb(167, 235, 57), rgba(245, 227, 63, 0.699));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.p-Home.TextBox131{
    background: -webkit-linear-gradient(rgba(223, 4, 4, 0.856), rgb(167, 235, 57), rgba(245, 227, 63, 0.699));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.p-Home.TextBox140{
    background: -webkit-linear-gradient(rgba(223, 4, 4, 0.856), rgb(167, 235, 57), rgba(245, 227, 63, 0.699));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.p-Home.TextBox152{
    background: -webkit-linear-gradient(rgba(223, 4, 4, 0.856), rgb(167, 235, 57), rgba(245, 227, 63, 0.699));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

